/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1700px) {
    .main:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 659px;
        /*background: rgba(0, 0, 0, .3);*/
    }

}

@media only screen and (max-width: 1200px) {
    .why img {
        width: 100%;

    }

    .product img {
        margin-left: 0px;
    }

    .main .main-form, .footer form {
        padding-top: 5px;
    }

    .main-form {
        width: 95%;

    }

    .old_price {
        margin-top: 0px;
        display: inline-block;
        float: none;
    }

    .gain {
        height: 700px;
    }

    .expert {
        padding-bottom: 20px;
    }
}
@media only screen and (min-width: 993px){
    .under_shape br:first-child{
        display: none;
    }
    .gain .wrap-2{
        top: 26px;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .main-form {
        background-position-x: center;
    }

    .main .main-form, .footer form {
        padding-top: 40px;
    }

    .hidden992 {
        display: none;
    }

    .center992 {
        text-align: center;
    }

    header .float-left {
        float: none;
    }

    .why {
        padding-top: 80px;
        background-position-x: center;
    }

    .why img {
        margin-top: 70%;
    }

    .composition .container {
        text-align: center;
    }

    .how_to_use {
        background-position-x: center;
    }
    .paddright0{
        padding-right: 0;
    }
    .paddleft0{
        padding-left: 0;
    }
}


/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    body {
    }

    .product img {
        width: 100%;
    }

    .hidden768 {
        display: none;
    }

    .show768 {
        display: inline-block;
    }

    .main {
        padding-top: 0px;
        background: #1f2147;

    }

    .main:before {
        margin-top: 0px;
    }body {
         overflow-x: hidden;
     }
    .how_to_use img {
        width: 90%;
    }

    .why {
        padding-top: 0px;
        background: #dddddd;
        background: transparent;
        min-height: 450px;
    }

    .composition {
        background: transparent;
        padding-bottom: 8px;
    }

    .composition:before {
        display: none;
    }

    .composition h3 {
        text-shadow: none;
        margin: 0;
    }

    .composition__img {
        width: 40%;
        float: left;
    }

    .composition .composition__img > img {
        position: inherit !important;
        width: 100%;
        max-width: 200px;
    }

    .composition__content {
        width: 60%;
        float: left;
    }

    .composition .block-1 > div, .composition .block-2 > div {
        margin-bottom: 30px;
    }

    .composition .block-2 {
        margin-top: 0;
    }

    .block-1 .composition__content .title, .block-2 .composition__content .title {
        margin: 0 0 11px;
        position: inherit;
        text-align: left;
    }

    .composition .block-1 .composition__content p, .composition .block-2 .composition__content p {
        position: inherit;
        margin: 0;
        text-align: left;
    }

    .bg_2 {
        background: url("../img-mob/sect2.jpg") no-repeat center;
        background-size: cover;
        background-color: #1F2148;
        background-position: center -35px;
    }

    .study {
        padding: 0;
    }

    .gain {
        padding: 32px 0px 0;
        background: url("../img-mob/sect3.jpg") no-repeat center;
        background-size: cover;
        height: 100%;
        min-height: 410px;
    }

    .gain h2.text-white {
        position: inherit;
        margin: 0;
        font-size: 24px;
        line-height: 24px;
    }

    .gain p {
        padding: 0;
        position: inherit;
        font-size: 11px;
        line-height: 15px;
        min-height: auto;
    }

    .gain .wrap img {
        width: 100%;
        max-width: 50px;
        position: initial;
        margin: auto;
        display: block;
    }

    .gain .wrap p {
        margin: 0;
    }

    .gain .wrap.wrap-1, .gain .wrap.wrap-2, .gain .wrap {
        position: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        /*margin: auto;*/
    }

    .gain__block {
        display: flex;
        /*padding: 0 10px;*/
        /*padding: 0;*/
        margin-bottom: 25px;
        align-items: center;
        justify-content: space-evenly;
    }

    .gain .col-lg-7 .title {
        min-height: 90px;
        position: initial;
        top: 0;
        left: 0;
    }

    h2 {
        font-size: 24px;
        line-height: 24px;
    }

    .why h2, .composition h3 {
        font-size: 24px;
        padding-left: 0;
        font-family: 'Roboto Slab', serif;
        align-items: center;
    }
    .why h2{
        margin: 15px 0 0 ;
    }
    .gold_bg-new {
        font-size: 24px;
        font-family: 'Roboto Slab', serif;
        height: auto;
        width: auto;
        line-height: 24px;
        display: -webkit-box;
        padding: 10px 5px;
        margin: 0;
        vertical-align: middle;
        max-height: 44px;
        align-items: center;
        letter-spacing: 0;
    }

    .why p {
        font-family: Roboto;
        font-size: 11px;
        font-weight: 400;
        line-height: 15px;
        margin: 0;
        margin-bottom: 20px;
        padding-left: 0px;
    }

    .composition p {
        color: #787a9e;
        font-family: Roboto;
        font-size: 11px;
        font-weight: 400;
        line-height: 15px !important;
    }
    .wrap__img{
        width: 50px;
        height: 50px;
        display: flex;
        margin-bottom: 5px;
    }
    .wrap__img img{
        width: 100%;
    }
    .title {
        color: #e0e0e0;
        font-family: "Roboto Slab";
        font-size: 15px;
        font-weight: 400;
        line-height: 15px;
    }

    .expert {
        padding-top: 25px;
        background: #1f2147;
        overflow: hidden;
    }

    .expert .text-wrap h2 {
        margin: 0 0 15px;
        line-height: 36px;
        font-size: 24px;
        letter-spacing: 0px;

    }

    .expert p {
        margin: 0 0 40px;
        font-size: 11px;
        line-height: 15px;
        display: block;
    }

    .expert__img {
        max-width: 100px;
        float: left;
        width: 20%;
    }

    .expert__img > img {
        width: 100%;
        position: initial;
    }
    .expert span{
        display: block;
        float: left;
        width: 80%;
        font-size: 10px;
        padding-left: 5px;
        padding-top: 8px;
    }
    .expert h4{
        margin: 0;
        font-size: 12px;
    }
    .expert .written {
        position: initial;
        max-width: 110px;
        max-height: 50px;
        margin-right: -12px;
    }
    .reviews{
        padding-bottom: 30px;
    }
    section.reviews h2{
        font-size: 24px;
        margin: 0 0 17px;
    }
    .reviews_block {
        margin: 0 55px;
    }
    .reviews .slick-arrow.prev{
        position: absolute;
        top: 50%;
        margin-top: -53px;
        left: 25px;
        max-height: 38px;
        z-index: 9999;
    }
    .reviews .slick-arrow.next{
        position: absolute;
        top: 50%;
        margin-top: -53px;
        right: 25px;
        max-height: 38px;
        z-index: 9999;
    }
    .reviews .slick-arrow img{
        max-height: 38px;
    }
    .advantage {
        background: url("../img-mob/sect4.jpg") no-repeat center;
        background-size: cover;
        padding: 10px 0 16px;
    }
    .advantage h2{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .advantage p{
        font-size: 12px;
        line-height: 15px;
    }
    .advantage img{
        height: auto;
        max-width: 60px;
        max-height: 60px;
    }
    .advantage .img-special{
        position: initial;
        margin: 0;
    }
    .how_to_use p{
        font-size: 11px;
        line-height: 15px;
    }
    section.how_to_use h2{
        margin: 0 0 17px;
        padding: 0px;
        text-align: center;
    }
    .how_to_use img{
        /*margin: 0px;*/
        position: initial;
        width: 83%;
        max-width: 410px;
        margin: auto;
        display: block;
    }
    .how_to_use ul{
        padding-top: 0;
        padding-left: 23px;

    }
    .how_to_use li{
        font-size:12px;
        line-height: 15px;
        margin-bottom: 20px;
    }
    .how_to_use li:before{
        padding-top: 4px;
        height: 22px;
        width: 22px;
        font-size: 10px;
        margin-left: -30px;
        margin-top: -5px;
        background-size: cover;
        padding-left: 9px;
    }
    .how_to_use{
        padding-bottom: 10px;
        padding-top: 28px;
    }
    .footer{
        background: #1f2147;
    }
    .foot_logo{
        margin: 0;
    }
    .footer img{
        position: initial;
        width: 65%;
        max-width: 300px;
    }
    .footer h2{
        line-height: 25px;
        font-size: 24px;
        position: initial;
        /*margin: 20px 0;*/
        margin: 7px 0 13px;
    }
    .footer h4{
        position: initial;
        font-size: 11px;
        line-height: 12px;
    }
    .footer small{
        font-size: 12px;
        line-height: 24px;
    }
    time{
        position: initial;
        margin-bottom: 12px;
    }
    .footer form#form-2{
        padding: 0;
        background-size: cover;
    }
    .main-form div, .main-form .gold_bg{
        font-size: 25px;
        margin-bottom: 12px;
    }
    .footer .input-line-item-3{
        margin-top: 0;
    }
    .main-form .gold_bg {
        width: 100%;
        height: 100%;
        display: inline;
        padding: 5px 10px;
        margin-left: 0;
    }
    .new_price span{
        font-size: 24px;
        line-height: 24px;
    }
    .old_price{
        font-size: 10px;
    }
    .old_price span{
        font-size: 12px;
    }
    .diagonal-line{
        width: 55px;
    }
    .input-line-item label{
        font-size: 10px;
        line-height: 15px;
    }
    .main-form .btn{
        font-size: 15px;
        line-height: 25px;
        height: 50px;
    }
    .footer{
        overflow-y:visible;
        padding-bottom: 27px;
        height: auto;
        padding-top: 10px;
    }
    .footer form#form-2{
        margin: 0;
        height: auto;
        padding: 0 20px 20px;
        width: 100%;
        line-height: 0;
    }
    .footer form#form-2>br{
        display: none;
    }
    .footer .new_price{
        margin: 0 20px 0 0;
    }
    .footer .old_price{
        margin: 0px;
    }
    .footer .input-line-item label{
        position: initial;
        margin-bottom: 5px;
    }
    .slick-list{
        max-height: 625px;
    }
}

@media (min-width: 460px) and (max-width: 576px) {
    #form {
        margin: 0 auto;
        width: 74%;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 390px) {
    body {
        overflow-x: hidden;
    }
    .how_to_use img {
        width: 90%;
    }

    .why {
        padding-top: 0px;
        background: #dddddd;
        background: transparent;
        min-height: 555px;
    }

    .composition {
        background: transparent;
        padding-bottom: 8px;
    }

    .composition:before {
        display: none;
    }

    .composition h3 {
        text-shadow: none;
        margin: 0;
    }

    .composition__img {
        width: 40%;
        float: left;
    }

    .composition .composition__img > img {
        position: inherit !important;
        width: 100%;
    }

    .composition__content {
        width: 60%;
        float: left;
    }

    .composition .block-1 > div, .composition .block-2 > div {
        margin-bottom: 30px;
    }

    .composition .block-2 {
        margin-top: 0;
    }

    .block-1 .composition__content .title, .block-2 .composition__content .title {
        margin: 0 0 11px;
        position: inherit;
        text-align: left;
    }

    .composition .block-1 .composition__content p, .composition .block-2 .composition__content p {
        position: inherit;
        margin: 0;
        text-align: left;
    }

    .bg_2 {
        background: url("../img-mob/sect2.jpg") no-repeat center;
        background-size: cover;
        background-position: center -25px;
        background-color: #1F2148;
    }

    .study {
        padding: 0;
    }

    .gain {
        padding: 32px 0px 0;
        background: url("../img-mob/sect3.jpg") no-repeat center;
        background-size: cover;
        height: 100%;
        min-height: 410px;
    }

    .gain h2.text-white {
        position: inherit;
        margin: 0;
        font-size: 25px;
        line-height: 25px;
    }

    .gain p {
        padding: 0;
        position: inherit;
        font-size: 15px;
        line-height: 19px;
        min-height: auto;
    }

    .gain .wrap img {
        width: 100%;
        max-width: 50px;
        position: initial;
        margin: auto;
        display: block;
    }

    .gain .wrap p {
        margin: 0;
        font-size: 14px;
    }

    .gain .wrap.wrap-1, .gain .wrap.wrap-2, .gain .wrap {
        position: initial;
        display: flex;
        flex-direction: column;
    }

    .gain__block {
        display: flex;
        /*padding: 0;*/
        margin-bottom: 25px;
    }

    .gain .col-lg-7 .title {
        min-height: 90px;
        position: initial;
        top: 0;
        left: 0;
    }

    h2 {
        font-size: 28px;
        line-height: 28px;
    }

    .why h2, .composition h3 {
        font-size: 25px;
        padding-left: 0;
        font-family: 'Roboto Slab', serif;
        align-items: center;
    }
    .composition h3{
        margin-bottom: 15px;
    }
    .why h2{
        margin: 15px 0 0 ;
    }
    .gold_bg-new {
        font-size: 24px;
        font-family: 'Roboto Slab', serif;
        height: auto;
        width: auto;
        line-height: 24px;
        display: -webkit-box;
        padding: 10px 5px;
        margin: 0;
        vertical-align: middle;
        max-height: 44px;
        align-items: center;
        letter-spacing: 0;
    }

    .why p {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 400;
        line-height: 19px;
        margin: 0;
        margin-bottom: 20px;
        padding-left: 0px;
    }

    .composition p {
        color: #787a9e;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 400;
        line-height: 19px !important;
    }

    .title {
        color: #e0e0e0;
        font-family: "Roboto Slab";
        font-size: 18px;
        font-weight: 400;
        line-height: 17px;

    }

    .expert {
        padding-top: 30px;
        background: #1f2147;
        overflow: hidden;
    }

    .expert .text-wrap h2 {
        margin: 0 0 15px;
        line-height: 36px;
        font-size: 25px;
        letter-spacing: 0px;

    }

    .expert p {
        margin: 0 0 40px;
        font-size: 15px;
        line-height: 19px;
        display: block;
    }

    .expert__img {
        max-width: 100px;
        float: left;
        width: 20%;
    }

    .expert__img > img {
        width: 100%;
        position: initial;
    }
    .expert span{
        display: block;
        float: left;
        width: 80%;
        font-size: 13px;
        padding-left: 5px;
        padding-top: 8px;
    }
    .expert h4{
        margin: 0;
        font-size: 16px;
    }
    .expert .written {
        position: initial;
        max-width: 110px;
        max-height: 50px;
        margin-right: -12px;
        margin-top: -90px;
    }
    .reviews{
        padding-bottom: 30px;
    }
    section.reviews h2{
        font-size: 24px;
        margin: 0 0 17px;
    }
    .reviews_block {
        margin: 0 25px;
    }
    .reviews .slick-arrow.prev{
        position: absolute;
        top: 50%;
        margin-top: -15px;
        left: 10px;
        max-height: 38px;
        z-index: 9999;
    }
    .reviews .slick-arrow.next{
        position: absolute;
        top: 50%;
        margin-top: -15px;
        right: 10px;
        max-height: 38px;
        z-index: 9999;
    }
    .reviews .slick-arrow img {
        max-height: 27px;
    }
    .advantage {
        background: url("../img-mob/sect4.jpg") no-repeat center;
        background-size: cover;
        padding: 16px 0 16px;
    }
    .advantage h2{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .advantage p{
        font-size: 15px;
        line-height: 17px;
    }
    .advantage img{
        height: auto;
        max-width: 50px;
        max-height: 50px;
    }
    .advantage .img-special{
        position: initial;
        margin: 0;
    }
    .how_to_use p{
        font-size: 15px;
        line-height: 19px;
    }
    section.how_to_use h2{
        margin: 0 0 17px;
        padding: 0px;
        text-align: center;
    }
    .how_to_use img{
        margin: 0px;
        position: initial;
        width: 83%;
    }
    .how_to_use ul{
        padding-top: 0;
        padding-left: 23px;

    }
    .how_to_use li{
        font-size: 17px;
        line-height: 18px;
        margin-bottom: 20px;
        margin-left: 5px;
    }
    .how_to_use li:before{
        padding-top: 4px;
        height: 25px;
        width: 25px;
        font-size: 14px;
        margin-left: -30px;
        margin-top: -5px;
        background-size: cover;
        padding-left: 9px;
    }
    .how_to_use{
        padding-bottom: 10px;
        padding-top: 30px;
    }
    .footer{
        background: #1f2147;
    }
    .foot_logo{
        margin: 0;
    }
    .footer img{
        position: initial;
        width: 65%;
    }
    .footer h2{
        line-height: 28px;
        font-size: 28px;
        position: initial;
        /*margin: 20px 0;*/
        margin: 7px 0 13px;
    }
    .footer h4{
        position: initial;
        font-size: 15px;
        line-height: 16px;
    }
    .footer small{
        font-size: 15px;
        line-height: 30px;
    }
    time{
        position: initial;
        margin-bottom: 12px;
    }
    .footer form#form-2{
        padding: 0;
        background-size: cover;
    }
    .main-form div, .main-form .gold_bg{
        font-size: 21px;
        margin-bottom: 13px;
    }
    .footer .input-line-item-3{
        margin-top: 0;
    }
    .main-form .gold_bg{
        width: 100%;
        height: 100%;
        display: inline;
        padding: 5px 10px;
        margin-left: 0;
    }
    .new_price span{
        font-size: 28px;
        line-height: 28px;
    }
    .old_price{
        font-size: 14px;
    }
    .old_price span{
        font-size: 19px;
    }
    .diagonal-line{
        width: 50px;
    }
    .input-line-item label{
        font-size: 15px;
        line-height: 18px;
    }
    .main-form .btn{
        font-size: 19px;
        line-height: 29px;
        height: 50px;
    }
    .footer{
        overflow-y:visible;
        padding-bottom: 27px;
        height: auto;
        padding-top: 10px;
    }
    .footer form#form-2{
        margin: 0;
        height: auto;
        padding: 0 20px 20px;
        width: 100%;
        line-height: 0;
    }
    .footer form#form-2>br{
        display: none;
    }
    .footer .new_price{
        margin: 0 20px 0 0;
    }
    .footer .old_price{
        margin: 0px;
    }
    .footer .input-line-item label{
        position: initial;
        margin-bottom: 5px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    .hidden320 {
        display: none;
    }

    .foot_logo {
        /*margin-top: -35px;*/
    }

    .input-line-item input {
        height: 39px;
    }

    .main .main-form, .footer form {
        padding-top: 10px;
    }

    .gain {
    }
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}
